<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <div class="row"> <img src="/assets/images/img_ppal.png" class="logo"> </div>
        <span class="demo">You're not Alone!</span>
      </div>

      <ul class="list-unstyled components">
          <li routerLinkActive="active" class="active">
              <a [routerLink]="'homepage'" aria-expanded="false">Home</a> 
          </li>
          <li routerLinkActive="active">
              <a [routerLink]="'profile'" aria-expanded="false" >Profile</a> 
          </li>
          <li routerLinkActive="active">
              <a [routerLink]="'activities'">Events</a>
          </li>
          <li routerLinkActive="active">
              <a [routerLink]="'shopping-list'">Shopping-List</a>
          </li>
      </ul>

      <ul class="list-unstyled CTAs">
          <li routerLinkActive="active">
              <a href="#" class="recipe">Recipe book</a>
          </li>
          <li>
              <a href="#" class="logout">Logout</a>
          </li>
      </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="navbar-btn" >
                  <span></span>
                  <span></span>
                  <span></span>
              </button>
              <button  (click)="!isActive"  
                 class="btn btn-dark d-inline-block d-lg-none ml-auto" 
                 type="button" 
                 *ngIf="!isActive"
                 data-toggle="collapse" 
                 data-target="#navbarSupportedContent" 
                 aria-controls="navbarSupportedContent" 
                 aria-expanded="false" 
                 aria-label="Toggle navigation">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="nav navbar-nav ml-auto">
                    <div class="userlogin">
                      <img class="usericon" [src]="usericon">
                      <span class="username">{{ username }}</span> &nbsp;
                    </div>
                  </ul>
               
              </div>
              
          </div>
      </nav>
      
   <router-outlet></router-outlet>
   
  </div>
</div>