<h2>Alta actividad</h2>
<div class="row">
  <div class="col-5" style="text-align:right">
    <p>
      <span>Titulo:</span>
      <input type="text" [(ngModel)]="activity.actitle">
    </p>
    <p>
      <span>Fecha:</span>
      <input type="date" [(ngModel)]="activity.acdate">
    </p>
    <p>
      <span>Personas Min.:</span>
      <input type="number" [(ngModel)]="activity.acpmin">
    </p>
    <p>
      <span>Personas Max.:</span>
      <input type="number" [(ngModel)]="activity.acpmax">
    </p>
    <p>
      <span>Precio:</span>
      <input type="text" [(ngModel)]="activity.acprecio">
    </p>
  </div>
  <div class="col-7">
    <p>
      <span>Descripcion:</span>
      <textarea [(ngModel)]="activity.acdesc" cols="60" rows="10"></textarea>
    </p>
  </div>
  <div class="col-12">
    <p style="float:right">
      <button type="submit" class="btn btn-success" (click)="add()">Guardar</button>
    </p>
  </div>
</div>


