<div class="col-md-12">
    <h5 class="mt-2"><span class="fa fa-clock-o ion-clock float-right"></span> Recent Activity</h5>
    <table class="table table-sm table-hover table-striped">
        <tbody>                                    
            <tr>
                <td>
                    <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Gary</strong> deleted My Board1 in <strong>`Discussions`</strong>
                </td>
            </tr>
        </tbody>
    </table>
</div>